# Configuración de PostgreSQL
POSTGRES_USER=orderflow_user
POSTGRES_PASSWORD=orderflow_password
POSTGRES_DB=orderflow_db
POSTGRES_PORT=5432

# Configuración de RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
